.form-contacto {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: auto;
  max-width: 400px;
  padding: 20px;
}

input,
textarea {
  border-radius: 5px;
  border: 1px solid #ccc;
  padding: 10px;
}
