.servicios {
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.servicio {
  background: #ffe0b2;
  border-radius: 10px;
  box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.1);
  margin: 10px 0;
  padding: 15px;
}

@media (min-width: 768px) {
  .servicios {
    flex-direction: row;
    justify-content: space-around;
  }
}
